

.command-panel {
	flex: 0 0 $control-panel-height;
	background: #333;
	text-align: center;
}

.command-panel__create {
	@include button;
	margin: 20px auto;
}

.command-panel__play {
	font-size: 30px;
	cursor: pointer;
	color: rgba(#FFF, 0.8);
	&:hover {
		color: rgba(#FFF, 1);
	}
}