
.map-wrapper {
	position: relative;
	&:after {
		content: "";
		display: block;
		height: 250px;
	}
}

.map {
	user-select: none;
	height: calc(100vh - #{$control-panel-height});
	canvas {
		user-select: none;
		position: absolute;
		top: 0;
		left: 0;
	}
	
}

.map-bg-1 {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	background-image: url("../img/Gritstone5.png");
	background-repeat: repeat;
	opacity: 0.3;
	filter: blur(2px);
	transition: background-position 0.1s linear;
	display: none;
}