
.map-wrapper {
	position: relative;
	&:after {
		content: "";
		display: block;
		height: 250px;
	}
}

.map {
	height: calc(100vh - #{$control-panel-height});
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
	
}

.map-bg-1 {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	background-image: url("../img/Gritstone5.png");
	background-repeat: repeat;
	opacity: 0.2;
	filter: blur(6px);
}