
.mutation-panel {
	//margin: 5px;
    border-top: 1px solid rgba(#FFF, 0.1);
    padding-top: 7px;
    height: $control-panel-info-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    //background: #000;
}


.mutation-panel__heading {
	text-align: left;
	margin-bottom: 10px;
}

.mutation-panel__species {
	display: flex;
	align-items: center;

	i {
		margin: 0px 20px;
	}
}

.mutation-panel__progress {
	margin-top: 10px;
	width: 100%;
	height: 20px;
	border: 1px solid #444;
	position: relative;
}

.mutation-panel__progress-inner {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: #444;
	transition: width 0.1s linear;
}