

.species-editor {
	top: 0;
	left: 0;	

	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #333;
	color: #FFF;
}


.species-editor__close {
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 30px;
	cursor: pointer;
}

.species-editor__save {
	color: #333;
	border: 1px solid rgba(#FFF, 0.1);
	color: #FFF;
	border-radius: 3px;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
	background: #00a568;
	color: #FFF;
	&:hover {
		background: #01c17a;
	}
}

.species-editor__heading {
	padding: 30px 70px 30px 30px;
	text-align: center;
	border-bottom: 1px solid #444;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		font-size: 33px;
	}
}

$canvas-background: #222;

.species-editor__main {
	@include display(flex);
	background: $canvas-background;
}

.species-editor__map-container {
	@include flex-grow(1);
}


.species-editor__cell-menu {
	flex: 0 0 200px;
	//max-width: 200px;
	background: #444;
	padding: 30px;
	box-shadow: 2px 2px 2px 1px rgba(#000, 0.2);
	.species-editor--cell-menu-open & {
		display: block;
	}
}


.species-editor__info {
	flex: 0 0 200px;
	//max-width: 200px;
	background: #444;
	h2 {
		text-align: center;
	    padding: 20px;
	    background: #555;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	    font-size: 14px;
	}	
}

.species-editor__info-item {
	text-align: center;
	//margin-bottom: 10px;
	border-top: 1px solid #555;
	&:last-child {
		border-bottom: 1px solid #555;
	}
	padding: 20px 0px;
	label {
		text-align: center;
		display: block;
		font-size: 13px;
	}

	span {
		font-size: 40px;
		&.species-editor__info-sm {
			font-size: 20px;
		}
	}
}




.species-editor__cell-empty {
	stroke: #999;
	stroke-width: 3px;
	fill: $canvas-background;
	stroke-dasharray: 3, 3;
	cursor: pointer;
	&--hover {
		stroke: #BBB;
	}
}

.species-editor__cell {
	stroke: #000;
	stroke-width: 3px;
	cursor: pointer;
}



.species-editor__cell-menu-list {
	margin-top: 20px;
	@include display(flex);
	@include justify-content(center);
	@include flex-wrap(wrap);
	width: 100%;
}

.species-editor__cell-menu-cell {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #222;
	color: #222;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	font-size: 30px;
	margin: 5px;
}


.species-editor__path {
	stroke: #999;
	stroke-width: 5px;
}

.species-editor__path--connected {
	stroke: #FFF;
	stroke-width: 5px;
}









