

.species-editor__wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
    top: 0;
    left: 0;	
}

.species-editor {

	position: absolute;

	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    max-width: 1200px;
    max-height: 800px;

	border: 2px solid #000;
	border-radius: 20px;
	overflow: hidden;
	background: #333;
	box-shadow: 2px 4px 3px 2px rgba(0,0,0,0.3);
	color: #FFF;

	 -webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */

	 &--dragging {
	 	cursor: grabbing;
	 }
}


.species-editor__close {
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 30px;
	cursor: pointer;
}

.species-editor__save {
	color: #333;
	border: 1px solid rgba(#FFF, 0.1);
	color: #FFF;
	border-radius: 3px;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
	background: #00a568;
	color: #FFF;
	&:hover {
		background: #01c17a;
	}
}

.species-editor__heading {
	//padding: 30px 70px 30px 30px;
	height: 80px;
	padding: 0px 70px 0px 30px;
	text-align: center;
	border-bottom: 1px solid #444;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		font-size: 33px;
	}
}

$canvas-background: #222;

.species-editor__main {
	@include display(flex);
	background: $canvas-background;
	height: calc(100% - 80px);
	.species-editor--mode-mutation & {
		height: calc(100% - 225px);
	}
}

.species-editor__map-container {
	@include flex-grow(1);
}


.species-editor__cell-menu {
	//max-width: 200px;
	background: #444;
	padding: 15px;
	box-shadow: 2px 2px 2px 1px rgba(#000, 0.2);
	position: relative;
	.species-editor--cell-menu-open & {
		display: block;
	}
}


.species-editor__info {
	flex: 0 0 200px;
	width: 200px;
	//max-width: 200px;
	background: #444;
	h2 {
		text-align: center;
	    padding: 20px;
	    background: #555;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	    font-size: 14px;
	}	
}

.species-editor__info-item {
	text-align: center;
	//margin-bottom: 10px;
	border-top: 1px solid #555;
	display: flex;
	justify-content: space-between;
    align-items: center;
	&:last-child {
		border-bottom: 1px solid #555;
	}
	padding: 12px 0px;
	label {
		text-align: center;
		display: block;
		font-size: 13px;
		flex: 0 0 120px;
		text-align: left;
		padding: 0px 10px;
		line-height: 1.4;
	}

	span {
		@include type-number;
		font-size: 30px;
		max-width: 100%;
		padding: 0px 20px 0px 0px;
		display: block;
		line-height: 1.3;
		text-align: right;
		display: block;
		color: #DDD;
		&.species-editor__info-sm {
			font-size: 13px;
			word-wrap: break-word;
			width: 100%;
			text-align: center;
			padding: 0px 20px;
		}
	}
}




.species-editor__cell-empty {
	stroke: #999;
	stroke-width: 2px;
	fill: $canvas-background;
	stroke-dasharray: 3, 8;
	cursor: pointer;
	transition: stroke 0.3s;
	&--hover {
		stroke: #FFF;
	}
}

@keyframes cellPopIn {
	0% {
		opacity: 0;
		transform: scale(1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes cellTextPopIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.species-editor__cell-wrapper {
	cursor: grab;
	.species-editor--dragging & {
		cursor: grabbing;
	}
}

.species-editor__cell {
	stroke: #000;
	stroke-width: 3px;
	cursor: inherit;
	animation: cellPopIn 0.5s;
	transform-origin: 50% 50%;
}

.species-editor__cell-text {
	font-size: 30px;
	cursor: inherit;
	opacity: 0;
	animation: cellTextPopIn 0.5s 0.3s forwards;
	transform-origin: 50% 50%;
	pointer-events: none;
}



.species-editor__cell-menu-list {
	margin-top: 0px;
	@include display(flex);
	@include justify-content(center);
	@include flex-direction(column);
	//@include flex-wrap(wrap);
	width: 100%;
}

.species-editor__cell-menu-cell {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #222;
	color: #222;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	font-size: 30px;
	margin: 5px;
	cursor: grab;
	.species-editor--dragging & {
		cursor: grabbing;
	}
}

.cell-trash {
	text-align: center;
	margin-top: 20px;
	i {
		display: block;
		text-align: center;
		font-size: 42px;
		margin-bottom: 10px;
		color: #999;

	}

	&--active {
		.species-editor--dragging & {
			i {
				color: #FFF;
			}
		}
	}
}


.species-editor__path {
	stroke: #999;
	stroke-width: 3px;
    stroke-dasharray: 3, 3;

}

.species-editor__path--connected {
	stroke: #FFF;
	stroke-width: 5px;
}


/***** ---- Tooltip ---- *****/


.species-editor__cell-menu-tooltip {
	background: #000;
	color: #FFF;
	padding: 30px;
	position: absolute;
	top: 0;
	left: 90px;
	min-width: 300px;
	p {
		line-height: 1.5;
		color: rgba(#fff, 0.5);
		letter-spacing: 0.5px;
	}

	h2 {
		font-size: 25px;
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.species-editor__cell-menu-cell {
		//position: absolute;
		top: 15px;
		right: 15px;
		font-size: 20px;
		width: 30px;
		height: 30px;
		margin: 0px;
		margin-right: 20px;
	}
}


/***** ---- Species selectpr ---- ******/

.mutation-banner {
	position: relative;
}
.mutation-list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    padding: 10px 0px;
}

.mutation-heading {
	font-size: 18px;
}

.mutation-used,
.mutation-remaining {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid $color-hilight;
	background: rgba($color-hilight, 0.6);
	margin-left: 5px
}

@keyframes shine {
	0% {
		background: rgba($color-hilight, 0.6);
	}

	50% {
		background: rgba($color-hilight, 1);
	}

	100% {
		background: rgba($color-hilight, 0.6);
	}
}

.mutation-remaining {
	animation: shine 2s linear infinite;

	@for $i from 1 through 4 {
		&:nth-child(#{$i}) {
			animation-delay: $i * 0.2s;
		}
	}

	
}

.mutation-used {
	opacity: 0.3;
}

.mutation-num {
	font-size: 30px;
    margin-left: 10px;
    color: $color-hilight;
    display: block;
    flex: 0 0 20px;
    .species-editor--no-mutations & {
    	color: #b70f0f;
    }
}

.species-selector {
    padding: 30px;
    background: #000;
    h2 {
    	margin-bottom: 10px;
    }
}

.species-selector__list {
	display: flex;
}

.species-selector__item {
	cursor: pointer;
	max-width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-right: 10px;

	.dna-blueprint {
		border: 1px solid #333;
	}

    &--selected {
    	.dna-blueprint {
    		border-color: $color-hilight;
    	}
    }

}

.species-selector__remaining {
	position: absolute;
	right: 30px;
	bottom: 30px;
	font-size: 14px;
	text-align: right;
	.strong {
		display: block;
		font-weight: 800;
		font-size: 50px;
		color: $color-hilight;
		margin-top: 10px;
	}
}

/***** ---- Drag preview *****/


.cell-drag-preview {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: orange;
	pointer-events: none;
	display: none;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #222;
	color: #222;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	margin: 5px;
	opacity: 0.5;
	margin-top: -25px;
	margin-left: -25px;

}











