

@mixin button {

    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #FFF;
    border-radius: 3px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background: #00a568;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.03em;

    &:hover {
        background: #1c825c;
    }
}




@mixin button-outline {
    @include button;
    border: 1px solid #00a568;
    color: #00a568;
    background-color: transparent;
}


@mixin button-outline-white {
    @include button;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: transparent;
}