



$font-family-big: fantasy;
$font-family-normal: 'Raleway', sans-serif;
$font-family-number: 'Marvel', sans-serif;

@mixin type_h1 {
	font-family: $font-family-big;
}



@mixin type-modal-h1 {
	font-family: $font-family-big;
}

@mixin type-modal-h2 {
	font-family: $font-family-big;
	letter-spacing: 0.04em;
	font-size: 50px;
}

@mixin type-modal-h3 {
	font-family: $font-family-big;
	font-size: 23px;
}


@mixin type-number {
	font-family: $font-family-number;
}


@mixin type_h2 {
	text-transform: uppercase;
}


@mixin type_h3 {
	
}


@mixin type_h1 {
	
}